.navigation-item{
    background-color: white;
    color: rgba(3, 3, 3, 0.70);
    font-weight: 500;
    transition: .2s;
}
/* .navigation-item:hover, */
.navigation-item.active{
    background-color: var(--primary-color);
    color: #fff;
}

.chip.active{
    color: #fff !important;
    background-color: var(--primary-color) !important;
}
.chip.active .lg-dot{
    background-color: hsl(0, 0%, 100%) !important;
}

.dropdown{
    transition: .5s;
}

.dropdown-item div span{
    transition: .2s;
}

.navigation-item .content svg{
    transition: .3s;
}