.navigation-item{
    background-color: white;
    color: rgba(3, 3, 3, 0.70);
    font-weight: 500;
    transition: .2s;
}
/* .navigation-item:hover, */
.navigation-item.active{
    background-color: var(--primary-color);
    color: #fff;
}

.dropdown{
    transition: .5s;
}

.dropdown-item div span{
    transition: .2s;
}

.navigation-item .content svg{
    transition: .3s;
}