<div class="display-content md:py-12">
    <div class="limited-container">
        <div class="content-header flex flex-col md:flex-row justify-between items-center">

            <div class="main-title">
                <h1 class=" text-3xl font-medium text-primary">
                    Notícias recentes
                </h1>
            </div>
            <div class="search-input min-w-[17rem]">
                <div class="md:p-3 md:rounded-lg bg-primary/5 overflow-hidden flex gap-2 justify-start items-center">
                    <div class="search-icon">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="#030303" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="search-input shrink">
                        <input
                        type="text"
                        name="searchWork"
                        class=" bg-transparent placeholder:text-primary/70 focus:outline-none placeholder:font-medium"
                        placeholder="Pesquisar notícias"
                        >
                    </div>
                </div>
            </div>

        </div>

        <div class="content-body mt-10 flex flex-col lg:flex-row gap-x-8 justify-between items-stretch">

            <aside class="categories-navigation lg:w-[11rem]">
                <div class="navigation-container sticky top-[90px] left-0 flex flex-col gap-y-2">

                    @for (category of this.categories; track category.id) {
                        <div class="navigation-item cursor-pointer block px-3 py-2 rounded-lg"
                        [ngClass]="{ 'active': category.isActive }"
                        (click)="clickOncategoryAction(category)"
                        >
                            <div class="content flex justify-between items-center">
                                <span class="w-full">
                                    {{ category.name }}
                                </span>
                                <svg [style.rotate.deg]="(category.isOpen) ? 180 : 0" width="20" *ngIf="category.childrens.length > 0" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 7.5L10 12.5L15 7.5" [attr.stroke]="(category.isActive) ? 'white' : '#4F4F4F'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>

                        @if (category.childrens && category.childrens.length > 0) {
                            <div class="dropdown dropdown-{{ category.slug }} pl-6 overflow-hidden"
                            [style.maxHeight.px]="(category.isOpen) ? this.dropdownMaxHeights[category.slug] : 0"
                            [ngClass]="{ 'py-0': !category.isOpen, 'py-1': category.isOpen }"
                            >
                                @for (children of category.childrens; track $index) {
                                    <div class="dropdown-item cursor-pointer block px-3 py-2 rounded-lg"
                                    [routerLink]="['/works']"
                                    [queryParams]="{ scope: category.slug, children: children.slug }"
                                    (click)="changeScopeEvent()"
                                    >
                                        <div class="content flex justify-between items-center">
                                            <span class="w-full"
                                            [ngClass]="{ 'text-primary/50': !children.isActive, 'font-medium': children.isActive }"
                                            >
                                                {{ children.name }}
                                            </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                    }

                </div>
            </aside>
            <section class="posts lg:w-[69.15rem]">

                <post-template
                [posts]="this.posts"
                [postsWrap]="true"
                [totalPlaceholderCards]="6"
                />
                <!-- [cardWidth]="'w-full md:w-[calc((32.8%-5px))]'"
                [placeholderDimentions]="'w-full md:w-[calc((32.8%-5px))] h-[22rem]'"
                [cardType]="'small'"
                [cardsGap]="16"
                [totalPlaceholderCards]="6"
                [showFloatedLabel]="true"
                [showFloatedDescription]="false" -->

            </section>

        </div>

    </div>
</div>