<div class="header-container w-full bg-primary py-5" #siteHeader>
    <div class="limited-container flex justify-between items-center">
        <div class="logo cursor-pointer">
            <logo [routerLink]="['/']" />
        </div>
        <div class="aside flex gap-8 xl:gap-10 justify-center items-center">
            <div class="menu-items">
                <div class="menu-icon-for-mobile xl:hidden">
                    <a href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 8.5H21M3 15.5H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                <div class="menu-for-desktop hidden xl:block">
                    <nav>
                        <ul class="flex justify-center items-center gap-8">
                            <li class="">
                                <a routerLink="" class="text-base">Nossas Soluções</a>
                            </li>
                            <li class="">
                                <a routerLink="" class="text-base">Me Design</a>
                            </li>
                            <li class="">
                                <a
                                [routerLink]="['/works']"
                                [queryParams]="{ scope: 'all' }"
                                class="text-base">Portfólio</a>
                            </li>
                            <li class="">
                                <a routerLink="" class="text-base">Clientes</a>
                            </li>
                            <li class="">
                                <a
                                [routerLink]="['/news']"
                                [queryParams]="{ scope: 'all' }"
                                class="text-base">Conteúdos</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="search-icon flex gap-x-2 items-center justify-center">
                <div class="input-search rounded-md overflow-hidden"
                [ngClass]="{ 'max-w-[0px]': !this.expandInput, 'max-w-[150px]': this.expandInput}"
                >
                    <input type="text" class="focus:outline-none text-base py-1 w-full px-2 font-medium">
                </div>
                <a href="javascript:void(0)" (click)="this.toggleInput()">
                    @if(this.expandInput) {
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 6L6 18M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    } @else {
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    }
                </a>
            </div>
        </div>
    </div>
</div>