<div class="hero-content xl:pt-12 h-[31.25rem] limited-hero">
    <div class="section-cover relative w-full h-full xl:rounded-3xl overflow-hidden">
        <img src="{{ this.heroCoverImage }}" class="w-full h-full object-cover object-center" alt="">
        <div class="content py-14 xl:p-24 flex flex-col gap-y-6 items-center xl:items-start justify-center absolute left-0 top-0 w-full h-full text-white">
            <div class="title max-w-[39.5rem]">
                <h1 class="text-white text-[2.813rem] text-center xl:text-left font-medium leading-[3.25rem] -tracking-[0.9px]">
                    Descubra ideias poderosas para fomentar o crescimento da sua empresa.
                </h1>
            </div>
            <div class="description">
                <p class="text-white/70 md:max-w-[25.938rem] text-center xl:text-left font-medium text-lg -tracking-[0.36px]">
                    Seja bem-vindo. Aprenda sobre como criar designs que atraem, convertem retêm seu público ao longo de todos os estágios da jornada de criação.
                </p>
            </div>
        </div>
    </div>
</div>